@media (max-width: 850px) {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
  }
  form .buttons {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .entry {
    width: 100%;
    padding: 30px;
  }
  list {
    margin: 0.5em;
  }
}
@media (max-width: 420px) {
  .entry {
    flex-wrap: wrap;
  }
  .fa.fa-arrows-h {
    display: none;
  }
  list .btn {
    border: none;
  }
  list {
    margin: 0.5em;
  }
}
