list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 90px;
  gap: 10px 0;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}
list > .entry {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  border: 1px #eee solid;
  justify-content: center;
}
.entry > .translated {
  display: flex;
  width: 80%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.translated .text {
  width: 40%;
  word-break: break-all;
}
list button {
  box-shadow: none;
  font-size: 18px;
  padding: 5px 20px;
}
list button.fa.fa-pencil {
  background-color: rgb(14, 165, 27);
}
list button.fa.fa-trash {
  background-color: rgb(224, 14, 14);
}
